/*! CSS-courses By Sasan Azimi */



:root {
    --orange: #ff9230;
    --yellow:#fcfe51;
    --dark_gray: #222222;
    --light_gray: #dfdfdf;
    --gray: #898989;
}


@font-face {
    font-family: 'Cazabelanca';
    src: url('../../fonts/Far_CasablancaHeavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Vazir';
    src: url('../../fonts/Vazir.eot');
    src: url('../../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff2') format('woff2'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Vazir";
    background-color: var(--gray);
}


a:link {
    color: #0c1aaf;
    text-decoration: none;
}

a:visited {
    color: #0c1aaf;
    text-decoration: none;
}

a:hover {
    color: #0c7dbb;
    text-decoration: underline;
}

a:active {
    color: blue;
}

.row_container{
    /* 10 24 4 24 4 24 10 */

    margin: 6%;
}

.main-btns{
    width: 24%;
    padding: 4%;
    background-color: var(--orange);
    display: block;
    float: right;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}


/*************************************************************************************************/
/*************************************************************************************************/


/****** small  *******************************************************************************************************/


/*************************************************************************************************/
/*************************************************************************************************/

@media (max-width: 1219px) {

}